.servicePointsMapWrapper {
  position: relative;
  width: 100%;
  
  .btn {
    padding: 14px 16px;
    width: 100%;
  }

  &__title {
    color: $darkGrey;
    padding: 6rem 0;

    @include max-md {
      padding: 3rem 0;
    }
  }
}