.contactRow {
  padding: 35px 0;
  @include max-md { padding-bottom: 5px; }

  h3 {
    @include max-md {
      padding: 0 0 10px 0;
      font-size: 2.4rem !important;
    }
  }
  
  &__divider {
    &::after {
      background-color: #e8e8e8;
      position: relative;
      display: block;
      bottom: -35px;
      content: '';
      height: 1px;
      width: 100%;  
      @include max-md { display: none; }
    }
  }

  &__showMore {
    text-decoration: underline;
    position: absolute;
    font-size: 1.6rem;
    cursor: pointer;
    color: $red;
    bottom: 0;

    &:hover { text-decoration: none; }

    @include max-md {
      display: block;
      position: relative;
      padding: 0 0 15px 0;
    }
  }

  &__item {
    position: relative;

    &:not(:last-child) { @include max-md { margin-bottom: 20px; } }

    @include max-md {
      &:after {
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background-color: #e8e8e8;
      }
    }

    h5 {
      padding-bottom: 10px;
      @include max-md { font-size: 2rem !important; }
    }

    span {
      display: block;
      font-size: 1.4rem;
      color: #aaaaaa;
      padding-bottom: 15px;
    }

    p {
      padding: 5px 0;
      color: $lightGrey;

      &:first-of-type { padding-top: 0; }
      &:last-child { padding-bottom: 15px; }

      &:not(:last-child) {
        a {
          color: $red !important;
          &:hover { text-decoration: underline; }
        }
      }
    }
  }
}