.productsPreview {
  padding: 100px 0;

  @include max-md { padding: 40px 0; }

  &__list {

    .col-xl-3, .col-lg-6, .col-12 {
      padding: 8px 8px;
    }
    
    &__item {
      height: 100%;
      width: 100%;
      text-align: center;
      padding: 20px 10px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('/assets/divesoft/images/ppbg.jpg');

      .mediaRatio {
        padding: 0 !important;
        width: 250px;
        height: 250px;
        margin: 0 auto;
      }

      .btn {
        max-width: 180px;
        display: block;
        margin: 0 auto;
      }

      h5 { padding-top: 20px; }
      p {
        margin: 0;
        color: $lightGrey;
      }
    }
  }
}