.aboutUsHome {
  padding: 7.5rem 0 10rem 0;

  @include max-md { padding: 5.5rem 0; }
  @include max-sm { padding: 3.5rem 0; }

  .col { padding: 0; }

  h3, h4 {
    padding-bottom: 1.6rem;
  }

  &__block {
    display: flex;
    align-items: stretch;
    width: 100%;
    padding: 4rem;
    height: 390px;
    max-height: 390px;
    overflow: hidden;

    @include max-md {
      height: 100%;
      max-height: 100%;
      padding: 2rem;
    }

    .aboutUsHome__info {
      position: relative;
      z-index: 9;
    }

    &.right {
      p {
        width: 70%;
        @include max-md { width: 65%; }
        @include max-sm { width: 100%; }
      }
    }

    p {
      line-height: 2.8rem;
      color: $darkGrey;
    }
    h3 { color: $darkGrey; }
    h4 { color: #ababab; }

    &.hovered {
      p { color: white; }
      h3 { color: white; }
    }

    .img-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 0;

      .img-under {
        position: absolute;
        top: 100%;
        width: 100%;
        opacity: 0;
        min-height: 100%;
        transition: all .2s ease-in;
      }
    }

    &.hovered {
      .img-wrap {
        .img-under {
          top: 0;
          opacity: .9;
        }
      }
    }
  }

  .btn {
    position: absolute;
    bottom: 0;

    @include max-md {
      position: relative;
      bottom: 0;
    }
  }
}
