@font-face {
  font-family: 'Corridor';
  font-weight: 400;
  src: url("./Corridor-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Corridor';
  src: url("./Corridor-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'Corridor';
  src: url("./Corridor-Demi-Bold.otf") format("opentype");
}