.productComponents {
  padding: 10rem 0;
  background-color: #f4f4f4;
  @include max-md { padding: 4rem 0; }

  h2 { text-align: center; }
  h5 { padding-bottom: 1.6rem; }

  .mediaRatio {
    padding: 0 !important;
    min-height: 130px;
    max-height: 130px;
    min-width: 130px;
    max-width: 130px;
    height: 130px;
    width: 35%;
    float: left;
  }

  &__list {

    .col-12,
    .col-md-6,
    .col-lg-4 {
      padding: 8px 8px;
    }

    &__item {
      width: 100%;
      min-width: 350px;
      position: relative;
      margin-bottom: 3rem;
      @include clearfix;
      @include max-md { margin-bottom: 0; }

      &__content {
        width: 55%;
        float: left;
        max-height: 140px;
        padding-left: 1.5rem;
        overflow: hidden;
  
        p {
          margin: 0;
          font-weight: 400;
          color: #5c5c5c;
        }
        a {
          color: $red;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__mobileItem {
    text-align: center;
    
    h5 { padding: 2.5rem 0; }

    p {
      margin: 0;
      color: $lightGrey;
    }

    a { color: $red; }
    
    .mediaRatio {
      float: none;
      margin: 0 auto;
    }
  }
}