.aboutLeftPicture {
  padding: 80px 0;
  @include max-md { padding: 40px 0; }

  .col-12 {
    @include max-lg {
      &:nth-child(1) {
        order: 2;
      }
    }
  }

  &__content {
    padding-left: 20px;
    padding-top: 15px;

    @include max-xl {
      padding-left: 0;
      padding-top: 0;
    }

    h2 {
      position: relative;

      &:before {
        content: ' ';
        position: absolute;
        display: block;
        width: 24px;
        height: 24px;
        top: -15px;
        left: -20px;
        border-color: $red;
        border-style: solid;
        border-width: 6px 0 0 6px;

        @include max-md {
          top: -8px;
          left: -8px;
          border-width: 4px 0 0 4px;
        }
      }
    }

    h4 { color: $lightGrey; }

    p {
      color: $lightGrey;
      line-height: 3rem;
      @include max-md { 
        line-height: 2.7rem;
        padding-bottom: 3rem;
      }
    }
  }

  .mediaRatio {
    padding: 0 !important;
    height: 100%;
    width: 100%;
    min-height: 450px;
    min-width: 450px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

    @include max-md {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
    @include max-sm {
      min-width: 280px;
      min-height: 280px;
    }
  }
}