.galleryAndVideo {
  padding: 10rem 0;
  @include max-md { padding: 4rem 0; }

  h2 { text-align: center; }

  .btn {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .mediaRatio {
    padding: 0 !important;
    height: 240px;
    margin-bottom: 15px;

    @include max-lg { height: 160px; }
    @include max-md { height: 140px; }
    @include max-sm { height: 120px; }

    &--video {
      padding-top: 0 !important;
      height: 494px !important;
      
      @include max-xl { 
        padding-top: 100% !important;
        height: 100% !important;
        margin-bottom: 15px;
      }
    }
  }

  &__content {
    @include max-xl { display: block; }

    &__image {
      padding: 0 5px;
      @include max-xl { padding: 0 1.5rem; }
    }
  }

  &__more {
    margin-bottom: 15px;

    .mediaRatio {
      padding: 0 !important;
      height: 240px;

      @include max-md { height: 200px; }
      @include max-sm { height: 110px; }
    }
  }
}