.galleryAndVideo {
  padding: 100px 0;
  @include max-md { padding: 40px 0; }

  h2 { 
    text-align: center;
    margin-bottom: 30px;
  }

  .btn {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .mediaRatio {
    padding: 0 !important;
    height: 240px;
    margin-bottom: 15px;

    @include max-lg { height: 160px; }
    @include max-md { height: 140px; }
    @include max-sm { height: 120px; }

    &--video {
      padding-top: 0 !important;
      height: 494px !important;
      
      @include max-xl { 
        padding-top: 100% !important;
        height: 100% !important;
        margin-bottom: 15px;
      }
    }
  }

  &__content {
    @include max-xl { display: block; }

    &__img {
      &--fullScreen {
        position: fixed !important;
        width: 90% !important;
        height: 90% !important;
        top: 5% !important;
        left: 5% !important;
        overflow: unset !important;
        z-index: 100;

        .inner {
          z-index: 101;
        }

        &:after {
          display: block;
          position: fixed;
          content: '';
          background-color: black;
          opacity: 0.5;
          height: 100%;
          width: 100%;
          z-index: 99;
          top: 0;
          left: 0;
        }
      }
    }
  }

  &__more {
    margin-bottom: 15px;

    .mediaRatio {
      padding: 0 !important;
      height: 240px;

      @include max-md { height: 200px; }
      @include max-sm { height: 110px; }
    }
  }
}