@import './components/Hamburger/style.scss';

// .header {
//   ul {
//     list-style: none;

//     li {
//       display: inline;
//     }
//   }
// }

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 400;

  &__top {
    height: 45px;
    background-image: linear-gradient(to right, #3eac49 0%, #00aad0 100%);

    &__list {
      @include reset-list;
      width: auto;
      display: block;
      position: absolute;
      top: 10px;
      right: 0;

      li {
        display: inline !important;

        &:last-of-type {
          margin-right: 0;
          padding-right: 0;
        }
      }
    }

    a {
      color: white !important;
      font-size: 15px;
      letter-spacing: 0.7px;
      text-transform: uppercase;
    }
  }

  &__iso {
    position: absolute;
    height: 20px;
    bottom: -20px;
    width: 100%;
    left: 0;

    @include md {
      height: 70px;
      bottom: -70px;
      height: 50px;
      bottom: -70px;
    }

    svg {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 20px;
      filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.12));

      polygon {
        transition: 300ms ease;
      }

      @include md {
        height: 70px;
      }
    }
  }

  &__wrapper {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
    background-color: #fff;

    @include md {
      padding: 20px 0;
    }
  }

  nav {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;

    ul {
      @include reset-list;
      width: auto;
      position: relative;
      display: block;

      @include max-xl {
        display: none !important;
      }

      li {
        margin: 0 10px;
        display: block;

        &:last-of-type {
          margin-right: 0;
          padding-right: 0;
        }

        @include md {
          display: inline;
        }

        a {
          color: #3c3c3b;
          font-size: 1.4rem;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.64px;
          cursor: pointer;
          position: relative;

          &:after {
            @include pseudo;
            height: 1px;
            width: 0%;
            bottom: -3px;
            right: 0;
            background-color: #3c3c3b;
            transition: 0.3s ease;
          }
        }

        &:hover {
          a {
            &:after {
              opacity: 1;
              width: 100%;
              right: auto;
              left: 0;
            }
          }
        }
      }
    }
  }
}

.menuActive {
  
  padding-right: 8px;

  svg {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.12));
  }

  .header__iso {
    display: none;
  }
}

.hiddenMenu {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  // transition: transform 0.8s;
  // transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  background-color: white;
  height: 100vh;
  transform: translate3d(calc(100% + 100px), 0, 0);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 52, 97, 0.18);
  z-index: -1;
  width: 100%;

  @include md {
    width: 100%;
  }

  &--active {
    transform: translate3d(0, 0, 0);
  }

  &__wrapper {
    padding: 100px 30px 50px 30px;
    overflow-y: scroll;
    max-height: 100%;
    display: grid;
    height: 100%;

    @include md {
      padding: 150px 50px 50px 50px;
    }

    &::-webkit-scrollbar {
      width: 8px;
      height: 100%;
    }

    &::-webkit-scrollbar-thumb {
      background: #3c3c3b;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f8f8f8;
    }

    ul {
      @include reset-list;
      align-self: center;

      li {
        text-align: center;
        color: #3c3c3b;
        padding-bottom: 15px;

        a {
          color: #3c3c3b;
          font-size: 1.8rem;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.64px;
          cursor: pointer;
        }
      }
    }
  }
}