@import './components/Hamburger/style.scss';

.header {
  width: 100%;
  z-index: 400;
  position: fixed;
  background-color: #fff;

  &__wrapper {
    padding: 35px 0;
  }

  &__logo {
    width: 157px;

    img {
      height: 50px;
    }
  }

  nav {
    height: 20px;

    ul {
      li {
        display: inline;
        text-transform: uppercase;
        margin-right: 30px;

        a {
          color: $darkGrey;
          transition: $customEase;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &__controls {
    height: 40px;

    img {
      height: 20px;
      margin-right: 20px;
    }

    button {
      color: white;
      height: 100%;
      width: 120px;
      border: none;
      outline: none;
      padding-left: 20px;
      text-transform: uppercase;
      line-height: 40px;
      background-color: $red;
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: 15px center;
      background-image: url('/assets/divesoft/images/bag.svg');
    }
  }
}