.slider {
  max-height: 820px;
  overflow: hidden;
  padding-top: 120px;
  @include max-sm { padding-top: 70px; }

  .mediaRatio  {
    height: 700px;
    padding-top: 0!important;

    @include max-md {
      height: 500px;
    }
    @include max-sm {
      height: 400px;
    }
  }
}

.carousel {
  &__images {
    &__img {
      position: relative;

      h1 {
        @include max-md {
          font-size: 1.8rem;
        }
      }
    
      h2 { 
        text-transform: none;
      
        @include max-md {
          font-size: 1.2rem;
        }
      }
      
      .center {
        left: 0;
        width: 100%;
        text-align: center;
        padding: 0 25px;
      }

      &__content {
        width: 500px;
        position: absolute;
        z-index: 2;
        top: 25%;

        @include max-md {
          left: 0;
          top: 30%;
          width: 100%;
          text-align: center;
          padding: 0 25px;
        }

        @include max-sm {
          top: 20%;
          left: 0;
          width: 100%;
          padding: 0 25px;
          text-align: center;
        }

        &__btnHolder {
          max-width: 320px;

          @include max-md {
            margin: 0 auto;
          }

          .btn {
            width: 100%;
          }
        }

        p { 
          font-size: 1.5rem;
          color: #808080;

          @include max-md {
            font-size: 1rem;
          }
        }
      }
    }
  }
}