.sliderAtTop {
  padding-top: 100px;
  @include max-sm { padding-top: 70px; }
}

.slider {
  overflow: hidden;

  .mediaRatio  {
    height: 700px;
    padding-top: 0!important;

    @include max-md {height: 450px; opacity: 0.8; }
    @include max-sm { height: 400px; }
  }
}

.carousel {
  &__images {
    &__img {
      position: relative;

      h1 {
        line-height: 6rem;
        @include max-md { line-height: 4rem; }
      }
      h2 {
        text-transform: none;
        @include max-md {
          padding-bottom: 0;
          line-height: 3rem;
        }
      }

      .center {
        left: 0;
        width: 100%;
        text-align: center;
        padding: 0 25px;
      }

      &__content {
        width: 500px;
        position: absolute;
        z-index: 2;
        top: 25%;

        @include max-md {
          left: 0;
          top: 20%;
          width: 100%;
          text-align: center;
          padding: 0 25px;
        }

        @include max-sm {
          left: 0;
          width: 100%;
          padding: 0 25px;
          text-align: center;
        }

        &__btnHolder {
          max-width: 320px;
          @include max-md { margin: 0 auto; }

          .btn { width: 100%; }
        }

        p {
          font-size: 2.4rem;
          font-weight: 400;
          color: #808080;
          padding-bottom: 3.6rem;

          @include max-md {
            display: none;
            // padding-block-end: 2.4rem;
            // color: $darkGrey;
            // text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}
