.nextArrow {
  right: 0;
  top: 50%;
  width: 32px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  
  &::before {
    display: none;
  }

  &--top,
  &--bottom {
    top: 60%;
    width: 100%;
    right: -25px;
    height: 5px;
    position: absolute;
    background-color: #bfbfbf;
  }
  
  &--top {
    transform: rotate(45deg);
    transform-origin: bottom right;
  }
  
  &--bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
  }
}