.testimonials {
  padding: 100px 0;
  @include max-md { padding: 40px 0; }

  h2 { text-align: center; }
  &__description {
    @include max-md { display: none; }
  }

  &__list {

    .col-12 {
      &:not(:last-child) { @include max-md { margin-bottom: 2.5rem; } }
    }

    &__item {

      @include max-md { text-align: center; }

      h4 {
        padding-bottom: 0;
        padding-top: 2.5rem;
      }

      span {
        display: block;
        color: #bbbdbf;
        font-weight: 400;
        margin-bottom: 2rem;
      }

      p {
        line-height: 2.8rem;
        color: #5c5c5c;
        line-height: 3rem;
        font-weight: 400;
        padding: 0;
      }

      .mediaRatio {
        padding: 0 !important;
        height: 130px;
        width: 130px;

        @include max-md { margin: 0 auto; }
      }
    }
  }
}