.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  
  p, span, h1, h2, h3, h4, h5, h6 {
    white-space: normal;
  }

  &__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__slide {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  &__arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;

    .fa-arrow-right:before, .fa-arrow-left:before {
      color: #222
    }
  }

  &__nextArrow {
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 999;
    color: #fff;
  }

  &__backArrow {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 999;
    color: #fff;
  }

  &__dots {
    position: relative;
    display: flex;
    bottom: 50px;
    justify-content: center;
    align-items: center;

    &__dot {
      display: block;
      width: 60px;
      height: 4px;
      border-radius: 0;
      background-color: white;
      cursor: pointer;

      &--active {
        background-color: $red;
      }
    
      &:not(:last-child()) {
        margin-right: 15px;
      }
    }
  }
}