.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  
  p, span, h1, h2, h3, h4, h5, h6 {
    white-space: normal;
  }

  &__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__slide {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top: 6px solid #b5b5b5;
    border-right: 6px solid #b5b5b5;
    box-shadow: 0 0 0 lightgray;

    @include max-md {
      width: 20px;
      height: 20px;
      border-top: 4px solid #b5b5b5;
      border-right: 4px solid #b5b5b5;
    }
  }

  &__nextArrow {
    right: 30px;
    transform: translate3d(0,-50%,0) rotate(45deg);
    
    @include max-md { right: 10px; }
  }

  &__backArrow {
    left: 30px;
    transform: translate3d(0,-50%,0) rotate(-135deg);

    @include max-md { left: 10px; }
  }

  &__dots {
    position: relative;
    display: flex;
    bottom: 50px;
    justify-content: center;
    align-items: center;

    &__dot {
      display: block;
      width: 60px;
      height: 4px;
      border-radius: 0;
      background-color: white;
      cursor: pointer;

      &--active { background-color: $red; }
      &:not(:last-child()) { margin-right: 15px; }
    }
  }
}