.news {
  padding: 85px 0;
  @include max-md { padding: 40px 0; }

  a {
    color: $red;
    &:hover { text-decoration: underline; }
  }
  
  &__title {
    color: #5c5c5c;
    padding-left: 85px;
    line-height: 3.3rem;

    @include max-lg { padding-left: 25px; }
    @include max-sm {
      padding-left: 0;
      line-height: 2.4rem;
    }
  }

  &__text {
    padding: 40px 100px 20px 100px;

    @include max-md { padding: 40px 50px 20px 50px; }
    @include max-sm { padding: 30px 25px 15px 25px; }
    @include max-xs { padding: 20px 15px 10px 15px; }
  }
  
  &__btnHolder {
    position: absolute;
    width: 130px;
    right: 0;

    @include max-md {
      position: relative;
      left: 25px;
      margin-bottom: 25px;
    }
    @include max-sm { left: 0; }

    &__share {
      padding-left: 43px !important;
      background-size: 7px 17px;
      background-repeat: no-repeat;
      background-position: 20px 15px;
      background-image: url('/assets/divesoft/images/redfb.svg');

      &:hover {
        border-color: $red;
        color: $red !important;
        background-color: transparent !important;
        font-weight: 600;
      }
    }
  }

  p { 
    margin: 0;
    line-height: 2.8rem;
    color: #5c5c5c;
    font-weight: 400;
  }

  &__divider {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e8e8e8;
  }

  &__btn { 
    max-width: 240px;
    color: white !important;
    &:hover { text-decoration: none !important; }
    @include max-xs { max-width: 100%; }
  }

  &__thirdImg { @include max-md { display: none; } }
}