body {
  font-size: 1.6rem; // 16px after reset.scss
  background-color: white;
  font-family: $corridor;
  font-weight: 200;
  color: $darkGrey;
  line-height: 1.15;
}

.topWrapper {
  padding-top: 100px;
  @include max-sm { padding-top: 70px; }
}

.slick-prev {
  @media screen and (max-width: 600px) {
    left: -10px;
  }
}

.slick-next {
  @media screen and (max-width: 600px) {
    right: -10px;
  }
}

.slick-dots {
  bottom: 2.5rem;

  li {
    width: 6rem;
    height: 4px;
    background-color: white;

    button {
      width: 100%;
      height: 100%;
    }
  }

  .slick-active {
    background-color: $red;
  }
}