// FIX SLICK CAROUSEL VARIABLES
@import 'fix-slick';

// INITAL STYLES
@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import "../node_modules/slick-carousel/slick/slick.scss";
@import "../node_modules/slick-carousel/slick/slick-theme.scss";

@import 'mediaQueries';
@import 'variables';
@import 'general';
@import 'mixins';
@import 'forms';
@import 'reset';
@import 'text';

// COMPONENTS STYLES
@import '../src/components/Faq/style.scss';
@import '../src/components/News/style.scss';
@import '../src/components/Hero/style.scss';
@import '../src/components/Search/style.scss';
@import '../src/components/Map/style.scss';
@import '../src/components/Header/style.scss';
@import '../src/components/Footer/style.scss';
@import '../src/components/Calendar/style.scss';
@import '../src/components/Carousel/style.scss';
@import '../src/components/Firmwares/style.scss';
@import '../src/components/Downloads/style.scss';
@import '../src/components/ListOfLinks/style.scss';
@import '../src/components/AboutUsHome/style.scss';
@import '../src/components/ContactsMap/style.scss';
@import '../src/components/Testimonials/style.scss';
@import '../src/components/VideoGallery/style.scss';
@import '../src/components/PhotoGallery/style.scss';
@import '../src/components/SearchResults/style.scss';
@import '../src/components/NewsAndEvents/style.scss';
@import '../src/components/ProductsMenu/styles.scss';
@import '../src/components/ContactColumns/style.scss';
@import '../src/components/ProductsPreview/style.scss';
@import '../src/components/GalleryAndVideo/style.scss';
@import '../src/components/SpecialCarousel/style.scss';
@import '../src/components/ServicePointsMap/style.scss';
@import '../src/components/AboutLeftPicture/style.scss';
@import '../src/components/AboutRightPicture/style.scss';
@import '../src/components/ProductComponents/style.scss';

// PARTIALS
@import '../src/partials/Button/style.scss';
@import '../src/partials/Media/style.scss';
@import '../src/partials/Loader/style.scss';
@import '../src/partials/SvgIcon/style.scss';
@import '../src/partials/PrevArrow/style.scss';
@import '../src/partials/NextArrow/style.scss';
@import '../src/partials/MapBox/style.scss';