@font-face {
  font-family: $corridor;
  font-style: normal;
  font-weight: 200;
  src: url('/assets/divesoft/fonts/Corridor.eot');
  src:
    url(/assets/divesoft/fonts/Corridor.eot?#iefix) format("embedded-opentype"),
    url(/assets/divesoft/fonts/Corridor.woff2) format("woff2"),
    url(/assets/divesoft/fonts/Corridor.woff) format("woff"),
    url(/assets/divesoft/fonts/Corridor.ttf) format("truetype")
}

@font-face { 
  font-family: $corridor;
  font-style: italic; 
  font-weight: 200;
  src: url('/assets/divesoft/fonts/CorridorItalic.eot');
  src: local('Corridor Italic'),
    local("CorridorItalic"),
    url(/assets/divesoft/fonts/CorridorItalic.eot?#iefix) format("embedded-opentype"),
    url(/assets/divesoft/fonts/CorridorItalic.woff2) format("woff2"),
    url(/assets/divesoft/fonts/CorridorItalic.woff) format("woff"),
    url(/assets/divesoft/fonts/CorridorItalic.ttf) format("truetype"),
    url(/assets/divesoft/fonts/CorridorItalic.svg#CorridorItalic) format("svg")
}
@font-face { 
  font-family: $corridor;
  font-style: bold;
  font-weight: 500;
  src: url('/assets/divesoft/fonts/CorridorMedium.eot');
  src: local("Corridor Medium"),
    local("CorridorMedium"),
    url(/assets/divesoft/fonts/CorridorMedium.eot?#iefix) format("embedded-opentype"),
    url(/assets/divesoft/fonts/CorridorMedium.woff2) format("woff2"),
    url(/assets/divesoft/fonts/CorridorMedium.woff) format("woff"),
    url(/assets/divesoft/fonts/CorridorMedium.ttf) format("truetype"),
    url(/assets/divesoft/fonts/CorridorMedium.svg#CorridorMedium) format("svg")
}
@font-face {
  font-family: $corridor;
  font-style: bold;
  font-weight: 700;
  src: url('/assets/divesoft/fonts/CorridorDemiBold.eot');
  src: local("Corridor DemiBold"),
    local("CorridorDemiBold"),
    url(/assets/divesoft/fonts/CorridorDemiBold.eot?#iefix) format("embedded-opentype"),
    url(/assets/divesoft/fonts/CorridorDemiBold.woff2) format("woff2"),
    url(/assets/divesoft/fonts/CorridorDemiBold.woff) format("woff"),
    url(/assets/divesoft/fonts/CorridorDemiBold.ttf) format("truetype"),
    url(/assets/divesoft/fonts/CorridorDemiBold.svg#CorridorDemiBold) format("svg")
}
@font-face {
  font-family: $corridor;
  font-style: italic;
  font-weight: 700;
  src: url('/assets/divesoft/fonts/CorridorDemiBoldItalic.eot');
  src: local("Corridor DemiBold Italic"),
    local("CorridorDemiBoldItalic"),
    url(/assets/divesoft/fonts/CorridorDemiBoldItalic.eot?#iefix) format("embedded-opentype"),
    url(/assets/divesoft/fonts/CorridorDemiBoldItalic.woff2) format("woff2"),
    url(/assets/divesoft/fonts/CorridorDemiBoldItalic.woff) format("woff"),
    url(/assets/divesoft/fonts/CorridorDemiBoldItalic.ttf) format("truetype"),
    url(/assets/divesoft/fonts/CorridorDemiBoldItalic.svg#CorridorDemiBoldItalic) format("svg")
}

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: $corridor;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding-bottom: 3rem;
  @include max-md { padding-bottom: 1.5rem; }
}

p, a, li {
  font-weight: 200;
}

h1 {
  font-weight: 500;
  font-size: 6rem;
  text-transform: uppercase;
  @include max-md { font-size: 3rem; }
}

h2 {
  font-weight: 500;
  font-size: 3.6rem;
  text-transform: uppercase;
  @include max-md { font-size: 2.4rem; }
}

h3 {
  font-weight: 500;
  font-size: 3rem;
  text-transform: uppercase;
  @include max-md { font-size: 2rem; }
}

h4 {
  font-weight: 500;
  font-size: 2.4rem;
  @include max-md { font-size: 1.8rem; }
}

h5 {
  font-weight: 500;
  font-size: 2rem;
  @include max-md { font-size: 1.6rem; }
}

h6 {
  font-weight: 500;
  font-size: 1.8rem;
}

p { padding-bottom: 1.6rem;}

a {
  color: #5c5c5c;
  font-weight: 400;

  &:hover {
    color: $red;
    text-decoration: none;
  }
}

.textDescription {
  text-align: center;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #5c5c5c;
  padding-bottom: 4rem;
  font-weight: 400;

  @include max-md {
    padding-bottom: 2rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}