.btn {
  border: none;
  outline: none;
  color: white;
  display: block;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  padding: 16px 35px;
  box-sizing: border-box;
  font-family: 'Corridor';
  transition: $customEase;
  text-transform: uppercase;
  background-color: $red;

  &:hover {
    color: $white;
    background-color: #f72c2c;
  }

  &--bordered {
    color: $red;
    border: 2px solid $red;
    background-color: transparent;

    &:hover {
      color: white;
      background-color: $red;
    }
  }

  &--center { margin: 0 auto; }
}
