.btn {
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
  font-weight: 600;
  padding: 12px 35px;
  transition: ease 0.2s;
  letter-spacing: 1.8px;
  box-sizing: border-box;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 1.6rem;
  max-width: 310px;
  text-align: center;

  .arrow {
    content: '';
    padding: 3px;
    border: solid white;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
    margin-bottom: 1px;
    left: 10px;
    transition: 230ms ease;

    &--down {
      transform: rotate(45deg);
    }
    &--up {
      transform: rotate(225deg);
    }
  }

  &:hover {
    @include md {
      .arrow {
        left: 15px;
      }
    }
  }

  @include md {
    &:hover {
      background-position: 95%;
    }
  }

  &--up {
    .arrow {
      transform: rotate(225deg);
    }

    &:hover {
      @include md {
        .arrow {
          left: 10px;
          top: 5px;
        }
      }
    }
  }

  &--down {
    .arrow {
      transform: rotate(45deg);
    }

    &:hover {
      @include md {
        .arrow {
          left: 10px;
          top: 5px;
        }
      }
    }
  }

  &--small {
    font-size: 1.4rem;
    padding: 10px 40px;
  }

  &--greenBkg {
    color: white;
    background-image: linear-gradient(to right, $green 0%, $lightBlue 100%);
    background-repeat: no-repeat;
    background-position: center;
    padding: 14px 36px;

    &:hover {
      color: white;
      
      @include md {
        background-image: linear-gradient(to right, $green 0%, $green 100%);
        background-color: $green;
      }

      .arrow {
        border-color: white;
      }
    }
  }

  &--whiteBorder {
    color: white;
    border: 2px solid white;
    background-color: transparent;

    &:hover {
      @include md {
        color: $green;
        background-color: white;

        .arrow {
          border-color: $green;
        }
      }
    }
  }

  &--greenBorder {
    color: $green;
    background-color: transparent;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, $green 0%, $lightBlue 100%);
    border-image-slice: 1;
    transition: auto;

    .arrow {
      border-color: $green;
    }

    &:hover {
      border: 2px solid $green;
    }
  }

  &--greyBkg {
    background-color: #f4f5f7;
    text-transform: none;

    .arrow {
      border-color: $green;
    }
  }

  &--fullWidth {
    @include max-sm {
      width: 100%;

      p {
        font-size: 1.6rem;
      }
      .arrow {
        left: 30%;
      }
    }

    @include max-xs {
      .arrow {
        left: 20%;
      }
    }
    @media (max-width: 336px) {
      .arrow {
        left: 10%;
      }
    }
  }
}
